
*{
    box-sizing: border-box;
}
body{
    font-family:  Tahoma, Arial;
}
.container{
    margin: 20px auto;
    max-width: 1000px;
    padding: 0 16px;
    

}
.row{
    display: flex;
    justify-content: center;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
    height: 40px;
}
.game-info .game-name{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
}
.game-info .game-name img{
   width: 100%;
   max-width: 200px;
   height: auto;
   object-fit: contain;
   display: block;
   padding-top: 20px;
   z-index: 2;
   left: -35px;
   position: relative;

}
.game-info .category{
   flex: 1; 
   justify-content: flex-end;
   display: flex;
   align-items: center;
   height: 40px;
}
.game-info .category img{
   width: 100%;
   max-width: 160px;
   height: auto;
   object-fit: contain;
   display: block;
   
   z-index: 3;
   
   position: relative;
}
.game-info .category span{
    text-transform: capitalize;
    color: #222;
    font-weight: bold;
    font-size: 20PX;
    
}
.hangman-draw{
   flex-basis: 70%;
   background-color: #fefae0;
   padding: 20px;
   height: 400px;
  
  

}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    opacity: 0;

}
.hangman-draw .the-stand{
    opacity: 0;
}
.hangman-draw .the-stand:before{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
.hangman-draw .the-hang{
     opacity: 0;
}
.hangman-draw .the-hang:before{
    content: '';
    position: absolute;
    
    background-color: #222; 
    height: 4px;
    width: 100px;
    left: 30px;
    top: 20px; 
}
.hangman-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222; 
    height: 30px;
    
    left: 128px;
    top: 20px; 
}
.the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 48px;
    border: 4px dashed #222;
    opacity: 0;
}
.the-man .head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top:58px;
    opacity: 0;

}
.the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 130px;
    top: 105px;
    left: 128px;
    opacity: 0;
}
.the-man .hands{
    opacity: 0;
}
.the-man .hands::before{
   
   left: 83px;
   transform: rotate(30deg);
}
.the-man .hands::after{
    left: 128px;
    transform: rotate(-30deg);
}

.the-man .hands::before,.the-man .hands::after{
   content: '';
   position: absolute;
   width: 50px;
   height: 4px;
   background-color: #222;
   top: 140px;
}
.the-man .legs{
    opacity: 0;
}
.the-man .legs::before{
   
   left: 83px;
   transform: rotate(-30deg);
}
.the-man .legs::after{
    left: 128px;
    transform: rotate(30deg);
}

.the-man .legs::before,.the-man .legs::after{
   content: '';
   position: absolute;
   width: 50px;
   height: 4px;
   background-color: #222;
   top: 245px;
}
.row .letters{
    flex-basis: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
    gap: 8px;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    font-size: 20px;

}
.letters.finish{
    pointer-events: none;
}
.row .letters .box{
    width: 45px;
    height: 45px;
    background-color: #d4a373;
    border: 1px solid #d4a373;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;  
    color: aliceblue;
    text-transform: uppercase;

}
.row .letters .box:hover{
    background-color: #b88e64;
}


.letters-guess{
    display: flex;
    min-width: 104px ;
    margin: 35px auto;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;
    line-height: 50px;
    

}
.letters-guess span{
    width: 50px;
    height: 50px;
    background-color:#d4a373;
    margin-left: 7px;
    color: aliceblue;
    text-align: center;
    border-radius: 6px;
}
@media (max-width:780px) {
   .row {
    flex-direction: column;
    
   }
   .row .letters{
    margin-top: 20px;
   } 
   .row .hangman-draw{
    padding: 10px;
   }
   .row .letters .box{
    width: 40px;
    height: 40px;
    
   }
   .letters-guess span{
     width: 40px;
    height: 40px;
   }
   
}
.letters .box.cliked {
    background-color: #222  ;
    opacity: 0.2;
    pointer-events: none;
}
.hangman-draw.rong-1 .the-draw {
   opacity: 1;
}
.hangman-draw.rong-2 .the-stand {
   opacity: 1;
}

.hangman-draw.rong-3 .the-hang {
   opacity: 1;
}
.hangman-draw.rong-4 .the-rope{
    opacity: 1;
}
.hangman-draw.rong-5 .head{
    opacity: 1;
}
.hangman-draw.rong-6 .body{
    opacity: 1;
}
.hangman-draw.rong-7 .hands{
    opacity: 1;
}
.hangman-draw.rong-8 .legs{
    opacity: 1;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #22222257;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.popup{
    background: rgb(250, 234, 234);
    color:black;
    border-radius: 15px;
    padding: 1rem;
    min-width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
    
   
}
   .title {
        color: #d4af37; /* Gold color */
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .message {
        color: #333;
        font-size: 16px;
        line-height: 1.5;
    }
    .exit{
        position: absolute;
        top: 20px;
        right: 20px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px 8px;
        text-align: center;
        cursor: pointer;
    }
    .exit:hover{
        opacity: .8;
    }